body {
  font-family: Helvetica;  
}

.form {
  font-family: Helvetica;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.fixed-header {
  width: 60%;
  color: #000000;
  background: #d9d9d9;
  padding: 10px;
  text-align: center;
  margin: auto;  
}
